.container {
    background-color: #f3eef9;
    padding: 10px;
    border-radius: 25px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 25%;
}

.header {
    color: #4a464d;

}

.value {
    color: #31006e;
}

.container button {
    background-color: #31006e;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin: 1rem;
}